*{
    margin: 0;
    padding: 0;
}

body{
    background-color: mediumpurple;
    font-family: Mate SC;
    min-height: 100vh;
    text-align: center;
    margin-top: 5%;
}

.todo-input{
    font-family: Mate SC;
    font-weight: bolder;
}
.todo-button{
    margin-top: 2%;
    height: 20px;
    width: 20px;
    cursor: pointer;
}


/* .todo{
    display: flex;
    align-items: center;
    /* border: red solid; */
    /* font-size: 30px;
    font-family: Mate SC;
}

/* .complete-btn{
    width: 30px;
    height: 30px;

} */


.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.todo li{
    min-width: max-content;
    list-style: none;
    flex: 1;
    
}

.todo{
    margin: 3%;
    background: rgb(255, 255, 255);
    width: 50%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 25%;

}

.complete-btn{
    background-color: rgb(160, 228, 160);
    font-family: Mate SC;
    font-weight: bolder;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: black solid 1px;
    

}


.trash-btn{
    background-color: rgb(248, 116, 116);
    font-family: Mate SC;
    font-weight: bolder;
    border: black solid 1px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}